@page "/Game/{Guid:guid}/{Nickname}"

@using Data

@inherits LobbyComponent

<div style="display: grid; grid-template-columns: 3fr 1fr">
	<div>
		<h1>Partie @Game.Name (@Guid)</h1>
		<h2>Etat: @Game.State</h2>
		<h3>Joueurs: @Game.Players.Count / @Game.MaximumPlayerCount</h3>

		<h3>Deck: @Game.Deck?.Name</h3>
		<span>Phase @Game.RoundNumber / @Game.MaximumRoundCount</span>
		<div>
			<table style="margin: auto">
				<tr>
					<th>Nom</th>
					<th>Score</th>
				</tr>
				@foreach (Player player in Game.Players)
				{
					<tr>
						<td>@player.Name</td>
						<td>@player.Score</td>
					</tr>
				}
			</table>
			<span>Joueur en cours: @Game.CurrentPlayer?.Name</span><br />
			<span style="font-weight: bold">Cartes trouvées durant la phase</span><br />
			@foreach (Card card in Game.FoundCards)
			{
				<span>@card.Text</span><br />
			}
			@if (string.Equals(Game.CurrentPlayer?.Name, Nickname))
			{
				@if (Game.IsTimeTicking && Game.HasStillCardsToFind)
				{
					<p>Temps restant: @Game.RemainingSeconds</p>
					<p>@Game.CardToPlay?.Text</p>
					<button class="btn btn-cancel" @onclick="CardSkipped">Passer</button>
					<button class="btn btn-accept" @onclick="CardFound">Valider</button>
				}
				else if (!Game.HasStillCardsToFind)
				{
					<p>Toutes les cartes ont été trouvées</p>
					<button class="btn btn-primary" @onclick="GoToNextPhase">Passer à la phase suivante</button>
				}
				else if (Game.RemainingSeconds == 0)
				{
					<p>Temps écoulé</p>
					@if (Game.IsOnLastRound && Game.IsOnLastPlayer)
					{
						<button class="btn btn-primary" @onclick="PerformAnotherRound">Refaire une passe</button>
						<button class="btn btn-primary" @onclick="ConcludeGame">Terminer la partie</button>
					}
					else if (Game.IsOnLastPlayer)
					{
						<button class="btn btn-primary" @onclick="PerformAnotherRound">Refaire une passe</button>
						<button class="btn btn-primary" @onclick="GoToNextPhase">Passer à la phase suivante</button>
					}
					else
					{
						<button class="btn btn-primary" @onclick="GoToNextPlayer">Passer au joueur suivant</button>
					}
				}
				else
				{
					<button class="btn btn-primary" @onclick="StartTimer">Démarrer le timer</button>
				}
			}
			else
			{
				@if (Game.IsTimeTicking)
				{
					<p>Temps restant: @Game.RemainingSeconds</p>
				}
				else if (Game.RemainingSeconds == 0)
				{
					<p>Temps écoulé</p>
					@if (Game.IsOnLastRound && Game.IsOnLastPlayer)
					{
						<button class="btn btn-primary" @onclick="ConcludeGame">Terminer la partie</button>
					}
				}
			}
		</div>
	</div>
	<div>
		<Chat @bind-Game="Game" @bind-Game:event="GameChanged" 
			@bind-Nickname="Nickname" @bind-Nickname:event="NicknameChanged" />
	</div>
</div>